<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
</ul>
<h1>What would you like?</h1>
{% if x %}
<form method="post" action="/cocktails">
    {{ form.hidden_tag() and form.csrf_token }}
    {{ form.drink }}
    {{ form.alcohol }}
</form>
{% else %}
<form method="post" action="/cocktails">
    {{ form1.hidden_tag() and form1.csrf_token }}
    {{ form1.ingredient }}
    {{ form1.ok }}
</form>
{% endif %}
{% if pages  %}
{% for drink in pages.items %}
<p>Drink name : {{ drink.drink_name }}</p>
<p>Glass : {{ drink.glass }} </p>
<p>first ingredient : {{ drink.first_ingredient }} {{ drink.first_ingredient__measurements }} </p>
<p>second ingredient : {{ drink.second_ingredient }} {{ drink.second_ingredient__measurements }}</p>
<p>third ingredient : {{ drink.third_ingredient }} {{ drink.third_ingredient__measurements }}</p>
<p>fourth ingredient : {{ drink.fourth_ingredient }} {{ drink.fourth_ingredient__measurements }} </p>
<p>Image : {{ drink.drink_image }} </p>
<p>How to make it : {{ drink.instructions }} </p>
{% endfor %}
{% for page_num in pages.iter_pages(left_edge=1, right_edge=1 ,left_current=1, right_current=1) %}
{% if page_num %}
{% if page_num == pages.page %}
<a class="button" href="{{ url_for('cocktails', page=page_num, ingredient=ingredient)}}">{{page_num}}</a>
{% else %}
<a class="button" href="{{ url_for('cocktails', page=page_num, ingredient=ingredient)}}">{{page_num}}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endif %}
</body>
</html>