<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
<h1>What would you like?</h1>
{% if not x %}
<form method="post" action="/cocktails">
    {{ form.hidden_tag() and form.csrf_token }}
    {{ form.drink }}
    {{ form.alcohol }}
</form>
{% for d in drinks %}
<p> {{ d }} : {{ drinks[d] }}</p>
{% endfor %}
{% if not y %}
<h2>{{ error_message }}</h2>
{%endif%}
{% else %}
<form method="post" action="/cocktails">
    {{ form1.hidden_tag() and form.csrf_token }}
    {{ form1.ingredient }}
    {{ form1.ok }}
</form>
{% for drink in drinks %}
{{ loop.index }}
{% for x in drink %}
<p>Drink name : {{ x.drink_name }}</p>
<p>Glass : {{ x.glass }} </p>
<p>first ingredient : {{ x.first_ingredient }} {{ x.first_ingredient__measurements }} </p>
<p>second ingredient : {{ x.second_ingredient }} {{ x.second_ingredient__measurements }}</p>
<p>third ingredient : {{ x.third_ingredient }} {{ x.third_ingredient__measurements }}</p>
<p>fourth ingredient : {{ x.fourth_ingredient }} {{ x.fourth_ingredient__measurements }} </p>
<p>Image : {{ x.drink_image }} </p>
<p>How to make it : {{ x.instructions }} </p>
{% endfor %}
{% endfor %}
{{ pagination.links }}
{% endif %}
</body>
</html>